/* fira-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/fira-sans-v10-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
    url('fonts/fira-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/fira-sans-v10-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('fonts/fira-sans-v10-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('fonts/fira-sans-v10-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('fonts/fira-sans-v10-latin-regular.svg#FiraSans') format('svg');
  /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-mono-v12-latin-regular.eot');
  /* IE9 Compat Modes */
  src: url('fonts/roboto-mono-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/roboto-mono-v12-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('fonts/roboto-mono-v12-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('fonts/roboto-mono-v12-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('fonts/roboto-mono-v12-latin-regular.svg#RobotoMono') format('svg');
  /* Legacy iOS */
}

/* ibm-plex-mono-500italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/ibm-plex-mono-v6-latin-500italic.eot');
  /* IE9 Compat Modes */
  src: local('IBM Plex Mono Medium Italic'), local('IBMPlexMono-MediumItalic'),
    url('fonts/ibm-plex-mono-v6-latin-500italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/ibm-plex-mono-v6-latin-500italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('fonts/ibm-plex-mono-v6-latin-500italic.woff') format('woff'),
    /* Modern Browsers */
    url('fonts/ibm-plex-mono-v6-latin-500italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('fonts/ibm-plex-mono-v6-latin-500italic.svg#IBMPlexMono') format('svg');
  /* Legacy iOS */
}